:root {
    --grey-blue: #22222A;
    --ligher-blue: #4A4E69;
    --green: #818F5D;
    --pink: #C9ADA7;
    --cream: #F2E9E4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    background-color: var(--grey-blue);
    color: var(--cream);
}


 /* * HEADER */
header {
    width: 100%;
    height: 60px;
    display: flex;
}

#logo {
    width: 50px;
    height: 50px;
}


/* * MAIN - LAYOUT GRID */
main {
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 1fr 2fr 1fr;
}

img {
    grid-column: 1 / 7;
    grid-row: 1 / 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

h1 {
    grid-column: 6 / -1;
    grid-row: 1 / 2;
    font-family: "Bebas Neue", sans-serif;
    font-size: 13em;
    color: var(--green);
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px var(--pink);
    margin: 0;

}

.links {
    grid-column: 7 / -1;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   
}

.vegetable-link {
    font-size: 1.05em;
    color: var(--cream);
    text-decoration: none;
}

#radish-link {
    font-size: 1.35em;
    border: 1px solid var(--cream);
    background-color: var(--green);
    padding: 5px;
}

section {
    grid-column: 7 / -1;
    grid-row: 3 / 5;
    display: flex;
    flex-flow: column nowrap;   
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}


h3 {
    
}

p {
    padding: 5% 10%;
}

input {
    width: 30%;
    padding: 5px;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: var(--pink);
    box-shadow: 1px 1px 1px var(--ligher-blue);
    margin-bottom: 30px;
}

