:root {
    --dark-blue: #22223B;
    --ligher-blue: #4A4E69;
    --green: #818F5D;
    --pink: #C9ADA7;
    --cream: #F2E9E4;
}

body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
    background-color: var(--ligher-blue);
    color: var(--cream);
}
