:root {
    --grey-blue: #22222A;
    --light-blue: #4A4E69;
    --green: #818F5D;
    --pink: #C9ADA7;
    --light-pink: #E4D2D3;
    --cream: #F2E9E4;
    --radish-pink: #E13358;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
    background-color: var(--grey-blue);
    color: var(--cream);
    letter-spacing: 1px;
}


 /* * HEADER */
header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo-circle {
    width: 55px;
    height: 55px;
    background-color: var(--light-pink);
    border-radius: 50%;
    border: 3px solid var(--radish-pink);
    right: 50px;
    margin: 20px
}

#logo {
    width: 55px;
    height: 55px;
    rotate: 40deg;
    object-fit: contain;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
}

nav {
    padding: 15px 30px;
    width: 40%;
    margin-right: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    color: var(--cream);
    text-decoration: none;
    font-size: 1.15em;
    padding: 5px;
    ;
}

.nav-link:hover {
    border-radius: 3px;
    background-color: var(--pink);
    color: var(--grey-blue);
    font-weight: 700;
    transition-duration: 1s;
}

/* * MAIN - LAYOUT GRID */
main {
    width: 100%;
    height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2fr 1fr 2fr 1fr;
    gap: 5px;
}

img {
    grid-column: 1 / 7;
    grid-row: 1 / 7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


h1 {
    grid-column: 7 / -1;
    grid-row: 1 / 2;
    font-family: "Bebas Neue", sans-serif;
    font-size: 13.5em;
    text-align: center;
    color: var(--green);
    letter-spacing: 20px;
    text-shadow: 1px 2px 2px var(--light-blue), 4px 4px 2px var(--light-pink), -2px -1px var(--grey-blue);
    margin: 0;
}


/* * Option 1 layout - vegetable links in a flex container - grid column: 7 / -1 */
/* .links {
    grid-column: 7 / -1;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   
} */

.vegetable-link {
    font-size: 1.05em;
    color: var(--cream);
    text-decoration: none;
    margin-top: 10px;
    height: 45%;
    width: 150px;
    align-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    transition-duration: 0.5s;
}

/* * <!-- * Option 2 layout - vegetable links in individual grid columns spanning 1fr each 7 / -1 --> */
#radish-link {
    grid-column: 8 / span 1;
    grid-row: 2 / 3;
}

#cabbage-link {
    grid-column: 9 / span 1;
    grid-row: 2 / 3;
}

#cucumber-link {
    grid-column: 10 / span 1;
    grid-row: 2 / 3;
}

#parsnip-link {
    grid-column: 11 / span 1;
    grid-row: 2 / 3;
}


section {
    grid-column: 7 / -1;
    grid-row: 3 / -3;
    display: flex;
    margin-top: 20px;
    flex-flow: column nowrap;   
    align-items: center;
    justify-content: space-between;
    text-align: center;
}


.menu-p {
    padding: 0 10%;
}

footer {
    grid-column: span 12;
    grid-row: -2 / -1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.socials {
    display: inline;
    width: 15%;
    font-size: 1.2em;
    text-align: center;
}

.fab {
    padding: 10px;
    width: 20px;
    text-align: center;
    margin-left: 5%;
    border-radius: 50%;
    background-color: var(--grey-blue);
    color: var(--pink);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid var(--pink);
}

.fab:hover {
    background-color: var(--light-pink);
    border: 3px solid var(--radish-pink);
    color: var(--grey-blue);
    transition-duration: 0.5s;
}

/* input taken out on menu page */

/* input {
    width: 45%;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-family: "Quicksand", sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: var(--pink);
    box-shadow: 1px 1px 2px var(--light-blue), -1px -1px 2px var(--light-blue);
} */


/* 
/* * #MAIN MENU SETTINGS - nothing highlighted*/

/* ! IMG */
#main-menu-img {
    display: inline-block;
}
#radish-img, #cabbage-img, #cucumber-img, #parsnip-img {
    display: none;
}


/* ! H1, SECTION H3 & P */
#main-menu-h1, #main-menu-h3, #main-menu-p {
    display: block;
}
#radish-h1, #radish-h3, #radish-p {
    display: none;
}
#cabbage-h1, #cabbage-h3, #cabbage-p {
    display: none;
}
#cucumber-h1, #cucumber-h3, #cucumber-p {
    display: none;
}

#parsnip-h1, #parsnip-h3, #parsnip-p {
    display: none;
}

.vegetable-link:hover {
    font-size: 1.25em;
    border: 1px solid var(--cream);
    background-color: var(--green);
}

/* * RADISH HOVER - affects <link> <img> <h1> <h3> <p>*/
/* img change */
main:has(#radish-link:hover) #main-menu-img, main:has(#radish-link:hover) #cabbage-img, main:has(#radish-link:hover) #cucumber-img, main:has(#radish-link:hover) #parsnip-img {
    display: none;
}
main:has(#radish-link:hover) #radish-img {
    display: inline-block;
}


/*  h1 change */
main:has(#radish-link:hover) #main-menu-h1, main:has(#radish-link:hover) #cabbage-h1, main:has(#radish-link:hover) #cucumber-h1, main:has(#radish-link:hover) #parsnip-h1 {
    display: none;
}
main:has(#radish-link:hover) #radish-h1 {
    display: block;
}

/*  h3 change */

main:has(#radish-link:hover) #main-menu-h3, main:has(#radish-link:hover) #cabbage-h3, main:has(#radish-link:hover) #cucumber-h3, main:has(#radish-link:hover) #parsnip-h3 {
    display: none;
}
main:has(#radish-link:hover) #radish-h3 {
    display: block;
}

/*  p change */

main:has(#radish-link:hover) #main-menu-p, main:has(#radish-link:hover) #cabbage-p, main:has(#radish-link:hover) #cucumber-p, main:has(#radish-link:hover) #parsnip-p {
    display: none;
}
main:has(#radish-link:hover) #radish-p {
    display: block;
}


/* * CABBAGE HOVER - affects <link> <img> <h1> <h3> <p>*/

/* img change */

main:has(#cabbage-link:hover) #main-menu-img, main:has(#cabbage-link:hover) #radish-img, main:has(#cabbage-link:hover) #cucumber-img, main:has(#cabbage-link:hover) #parsnip-img {
    display: none;
}
main:has(#cabbage-link:hover) #cabbage-img {
    display: inline-block;
}

/*  h1 change */
main:has(#cabbage-link:hover) #main-menu-h1, main:has(#cabbage-link:hover) #radish-h1, main:has(#cabbage-link:hover) #cucumber-h1, main:has(#cabbage-link:hover) #parsnip-h1 {
    display: none;
}
main:has(#cabbage-link:hover) #cabbage-h1 {
    display: block;  
}

/*  h3 change */
main:has(#cabbage-link:hover) #main-menu-h3, main:has(#cabbage-link:hover) #radish-h3, main:has(#cabbage-link:hover) #cucumber-h3, main:has(#cabbage-link:hover) #parsnip-h3 {
    display: none;
}
main:has(#cabbage-link:hover) #cabbage-h3 {
    display: block;  
}

/*  p change */
main:has(#cabbage-link:hover) #main-menu-p, main:has(#cabbage-link:hover) #radish-p, main:has(#cabbage-link:hover) #cucumber-p, main:has(#cabbage-link:hover) #parsnip-p {
    display: none;
}
main:has(#cabbage-link:hover) #cabbage-p {
    display: block;  
}

/* * CUCUMBER HOVER - affects <link> <img> <h1> <h3> <p>*/

/* img change */
main:has(#cucumber-link:hover) #main-menu-img, main:has(#cucumber-link:hover) #radish-img, main:has(#cucumber-link:hover) #cabbage-img, main:has(#cucumber-link:hover) #parsnip-img {
    display: none;
}
main:has(#cucumber-link:hover) #cucumber-img {
    display: inline-block;
}

/*  h1 change */
main:has(#cucumber-link:hover) #main-menu-h1, main:has(#cucumber-link:hover) #radish-h1, main:has(#cucumber-link:hover) #cabbage-h1, main:has(#cucumber-link:hover) #parsnip-h1 {
    display: none;
}
main:has(#cucumber-link:hover) #cucumber-h1 {
    display: block; 
}

/*  h3 change */
main:has(#cucumber-link:hover) #main-menu-h3, main:has(#cucumber-link:hover) #radish-h3, main:has(#cucumber-link:hover) #cabbage-h3, main:has(#cucumber-link:hover) #parsnip-h3 {
    display: none;
}
main:has(#cucumber-link:hover) #cucumber-h3 {
    display: block; 
}


/*  p change */
main:has(#cucumber-link:hover) #main-menu-p, main:has(#cucumber-link:hover) #radish-p, main:has(#cucumber-link:hover) #cabbage-p, main:has(#cucumber-link:hover) #parsnip-p {
    display: none;
}
main:has(#cucumber-link:hover) #cucumber-p {
    display: block; 
}

/* * PARSNIP HOVER - affects <link> <img> <h1> <h3> <p>*/

/* img change */
main:has(#parsnip-link:hover) #main-menu-img, main:has(#parsnip-link:hover) #radish-img, main:has(#parsnip-link:hover) #cabbage-img, main:has(#parsnip-link:hover) #cucumber-img {
    display: none;
}
main:has(#parsnip-link:hover) #parsnip-img {
    display: inline-block;
}

/*  h1 change */
main:has(#parsnip-link:hover) #main-menu-h1, main:has(#parsnip-link:hover) #radish-h1, main:has(#parsnip-link:hover) #cabbage-h1, main:has(#parsnip-link:hover) #cucumber-h1 {
    display: none;
}
main:has(#parsnip-link:hover) #parsnip-h1 {
    display: block; 
}

/*  h3 change */
main:has(#parsnip-link:hover) #main-menu-h3, main:has(#parsnip-link:hover) #radish-h3, main:has(#parsnip-link:hover) #cabbage-h3, main:has(#parsnip-link:hover) #cucumber-h3 {
    display: none;
}
main:has(#parsnip-link:hover) #parsnip-h3 {
    display: block; 
}

/*  p change */
main:has(#parsnip-link:hover) #main-menu-p, main:has(#parsnip-link:hover) #radish-p, main:has(#parsnip-link:hover) #cabbage-p, main:has(#parsnip-link:hover) #cucumber-p {
    display: none;
}
main:has(#parsnip-link:hover) #parsnip-p {
    display: block; 
}
